<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- providers -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js">
  <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>


  <!-- providers -->
  <!-- services -->
  <script src="index.js"></script>
  <link rel="stylesheet" href="styles.css" />
  <!-- services -->
</head>
<body ng-app="noiseyApp">
<div ng-controller="noiseyController">
  <div class="space">

  </div>
  <div class="container-fluid">
    <div class="col-md-offset-1 col-md-4 window window-dark">
      <button ng-click="returnList()">Return List</button>
      <button ng-click="returnSong()">Return Song List</button>
    </div>
    <div class="col-md-offset-1 col-md-10 window window-dark">

    </div>
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
      </div>
      <div class="col-sm-8 text-left">

      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services -->
<script src="services/audio.service.js"></script>
<!-- Controllers -->
<script src="controller.js"></script>
</body>
</html>
