body{
  background: #444; /* for old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%);
}
.window{
  padding: 10px;
  border: 3px solid #444;
  border-radius: 20px;
  min-height: 100px;
}
.window-dark{
  background-color: #111;
}
.window-light{}
.window-accent{}
.space{
  min-height: 100px;
}
.text{
  font-family: 'Bungee';
}
.center{
  text-align: center;
  margin: auto;
}
.text-white{
  color: white;
}
.text-dark{
  color: #444;
}
.text-accent{
  color: #E80C49;
}
.song{
  padding: 6px;
  background: white;
  border-radius: 6px;
  margin: 5px;
}
.btn-light{
  background: white;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid #444;
}
